{% import "macros/macros.html.twig" as macros %}

<h1>{{ me.name }}</h1>
<h2>{{ document.punchline }}</h2>

{{ include('includes/main-panel/skills.html.twig') }}

{{ include('includes/main-panel/job-experience.html.twig') }}

{{ include('includes/main-panel/works.html.twig') }}

