<!DOCTYPE html>
<html $htmlAttributes>
<head>
    <meta charset="utf-8" />
    <title>$title</title>
    <!-- $metadata -->

    <%= htmlWebpackPlugin.options.metadata %>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%- htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>
<body>
    <% if (htmlWebpackPlugin.options.appMountId) { %>
    <div id="<%- htmlWebpackPlugin.options.appMountId%>"></div>
    <% } %>

    <script type="text/javascript" id="app-initial-state">
      (function() {

        window.__INITIAL__STATE__ = <%= JSON.stringify(htmlWebpackPlugin.options.appInitialState) %>;

        var langMatch = window.location.search.match(/lang=(fr|en)$/);
        if (null !== langMatch) {
            window.__INITIAL__STATE__.currentLang = langMatch[1];
        }
      })();
    </script>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%- htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

    <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%- htmlWebpackPlugin.options.devServer %>/webpack-dev-server.js"></script>
    <% } %>
</body>
</html>
