<!DOCTYPE html>
<html lang="{{ document.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="language" content="{{ document.language }}">
        <link rel="canonical" href="http://rougemine.com/?lang={{ document.language }}">
        <title>{{ document.title }}</title>
        <meta name="description" content="{{ document.description }}">
        <meta http-equiv="last-modified" content="{{ document.generationDate|date(constant('DATE_W3C')) }}">
    </head>
    <body>

    </body>
</html>
