<!DOCTYPE html>
<html lang="{{ document.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="language" content="{{ document.language }}">
        <link rel="canonical" href="http://rougemine.com/?lang={{ document.language }}">
        <title>{{ document.title }}</title>
        <meta name="description" content="{{ document.description }}">
        <meta http-equiv="last-modified" content="{{ document.generationDate|date(constant('DATE_W3C')) }}">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="content-container">

            {{ include('includes/_top-links.html.twig') }}

            <section id="misc-info">

                {{ include('includes/_misc-info-content.html.twig') }}

            </section>


        </div>
    </body>
</html>
