<!DOCTYPE html>
<html lang="{{ document.language }}">
    <head>
        <meta charset="utf-8">
        <title>{{ document.title }}</title>
        <!--
        {{ '    rougemine.com'|figlet|raw }}

        Hi there! :-)
        -->
        <meta name="language" content="{{ document.language }}">
        <link rel="canonical" href="{{ me.url }}{{ document.language }}">
        <meta name="description" content="{{ document.description }}">
        <meta http-equiv="last-modified" content="{{ document.generationDate|date(constant('DATE_W3C')) }}">

        <link href="https://fonts.googleapis.com/css?family=Marcellus" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lobster+Two:400italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="css/main{{ document.prodMode ? '.min' : '' }}.css">

    </head>
    <body>

        {{ include('includes/_github-ribbon.html.twig') }}

        <div id="content-container">

            {% block content %}
            {% endblock %}

        </div>
    </body>
</html>
